button {
  padding: 0;
  margin: 0;
}

/* p {
  line-height: 50px;
} */
span {
  display: inline-block;
  line-height: 40px;
}
span ~ button {
  width: 15px;
  height: 15px;
  margin: 10px;
  font-size: 8px;
  /* padding: 8px 10px; */
  background-color: #ff4f5a;
  color: #ececec;
  border-style: none;
  border: 1px solid rgb(104, 104, 104);
  border-radius: 50%;
  /* border: double; */
  cursor: pointer;
}

strong > button {
  width: 25px;
  height: 25px;
  margin: 10px;
  /* padding: 8px 10px; */
  background-color: #ececec;
  color: #ececec;
  border-style: none;
  border-radius: 50%;
  border: 1px solid rgb(104, 104, 104);
  cursor: pointer;
  transition: 0.5s;
}

strong > button:hover {
  background-color: #00d05d;
  /* text-decoration: line-through; */
}

/* p button {
  color: #ececec;
  background-color: brown;
} */
