/* font-family: 'Oswald';
/* font-family: 'Dancing Script' ; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

header {
  position: relative;
  background-image: url(images/computer2.jpg);
  background-attachment: fixed;
  background-position: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  min-height: 50vh;
  max-width: 1024px;
  margin: 0 auto;
  text-align: center;
}

header > * {
  position: absolute;
}

header div.welcome {
  z-index: 1;
  top: 17%;
  left: 7%;
  font-family: "Oswald", sans-serif;
  color: #022e41;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

header h1 {
  /* margin-top: 15px; */
  font-size: 22px;
}

header h2 {
  font-size: 22px;
  font-weight: normal;
  text-transform: none;
  margin-top: 15px;
  font-family: "Dancing Script", sans-serif;
}

header button {
  bottom: 55px;
  transform: translateX(-50%);
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  line-height: 32px;
  padding: 0 20px;
  text-transform: uppercase;
  color: #022e41;
  background-color: transparent;
  font-size: 12px;
  cursor: pointer;
  border: 2px solid #022e41;
}

button.arrow {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 40px;
  width: 40px;
  height: 40px;
  border-style: none;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  overflow: hidden;
  transition: 0.2s;
  cursor: pointer;
}

button.arrow:hover {
  box-shadow: 0 0 5px 0 rgb(0, 0, 0);
}

button i {
  text-shadow: 0 -10px 0 white;
  transform: translate(-50%, -10px);
  animation: arrow 1s linear infinite;
}

button:hover i {
  animation-duration: 2s;
}

@keyframes arrow {
  50% {
    transform: translate(-50%, 10px);
  }

  100% {
    transform: translate(-50%, -10px);
  }
}

@keyframes arrowup {
  50% {
    transform: translate(0, 10px);
  }

  100% {
    transform: translate(0, -10px);
  }
}

@media (orientation: portrait) and (min-width: 360px) {
  header h1 {
    font-size: 24px;
  }

  header h2 {
    font-size: 24px;
  }

  header button {
    margin-top: 24px;
    line-height: 40px;
    font-size: 16px;
  }
}

@media (orientation: portrait) and (min-width: 410px) {
  header h1 {
    font-size: 26px;
  }

  header h2 {
    font-size: 26px;
  }

  header button {
    margin-top: 40px;
    line-height: 50px;
    font-size: 20px;
  }

  header img {
    right: -20%;
  }
}

@media (orientation: portrait) and (min-width: 768px) {
  header p {
    font-size: 80px;
  }

  header h1 {
    font-size: 32px;
  }

  header h2 {
    font-size: 32px;
  }

  header button {
    margin-top: 60px;
    line-height: 60px;
    font-size: 24px;
  }

  header img {
    right: -20%;
  }
}

@media (orientation: landscape) {
  header img {
    height: 100vh;
    bottom: 0;
    right: -5%;
  }

  header div.welcome {
    top: 15%;
    left: 7%;
    right: 48%;
  }

  header button {
    margin-top: 40px;
  }
}

@media (orientation: landscape) and (min-width: 530px) {
  header {
    background: url(images/computer2.jpg);
    background-attachment: fixed;
    height: 20px;
    /* max-width: 1000px; */
  }
  header div.welcome {
    left: 7%;
    right: 50%;
  }

  header h1 {
    font-size: 24px;
  }

  header h2 {
    font-size: 24px;
  }

  header button {
    display: none;
    font-size: 16px;
    line-height: 40px;
  }
}

@media (orientation: landscape) and (min-width: 680px) {
  header div.welcome {
    left: 8%;
  }

  header p {
    font-size: 46px;
  }

  header h1 {
    font-size: 34px;
  }

  header h2 {
    font-size: 34px;
  }
}

@media (orientation: landscape) and (min-width: 1024px) {
  header div.welcome {
    text-align: left;
    left: 7%;
  }

  header p {
    font-size: 56px;
  }

  header h1 {
    font-size: 34px;
  }

  header h2 {
    font-size: 34px;
  }
}

@media (orientation: landscape) and (min-width: 1280px) {
  header div.welcome {
    text-align: left;
    left: 6%;
  }

  header p {
    font-size: 60px;
  }

  header h1 {
    font-size: 40px;
  }

  header h2 {
    font-size: 30px;
  }
}

@media (orientation: landscape) and (min-width: 1600px) {
  header div.welcome {
    left: 8%;
  }

  header p {
    font-size: 60px;
  }

  header h1 {
    margin-top: 10px;
    font-size: 50px;
  }

  header h2 {
    font-size: 50px;
  }
}

/* sekcja ABOUTME */

.aboutMe {
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px 5% 0;
  text-align: center;
}

.aboutMe img {
  border-radius: 50%;
  text-align: center;
  width: 50%;
}

.aboutMe h1 {
  font-family: "Dancing Script", sans-serif;
  font-size: 30px;
  margin: 15px 0 10px;
  color: #022e41;
}

.aboutMe h2 {
  font-family: "Oswald", sans-serif;
  font-size: 28px;
  text-transform: uppercase;
  margin-bottom: 40px;
  color: #022e41;
}

.aboutMe h3 {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  margin-bottom: 10px;
}

.aboutMe p {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  margin: 10px 0;
  padding-bottom: 30px;
  border-bottom: 2px solid #022e41;
}

.aboutMe img {
  display: inline-block;
  border-radius: 50%;
  text-align: left;
  height: 30%;
}

div .aboutMe.name {
  display: inline-block;
}

@media (orientation: landscape) {
  .aboutMe {
    display: flex;
    justify-content: space-around;
  }

  .aboutMe img {
    display: block;
    border-radius: 50%;
    margin: 20px 20px 20px 0;
    text-align: left;
    width: 30%;
  }

  .name {
    flex-direction: column;
    flex: 2;
  }
}

@media (orientation: landscape) and (min-width: 768px) {
  .aboutMe img {
    display: block;
    border-radius: 50%;
    margin: 20px 20px 20px 0;
    width: 30%;
  }
  .aboutMe h1 {
    text-align: center;
  }

  .aboutMe h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .aboutMe h3 {
    text-align: center;
  }

  .aboutMe p {
    width: 100%;
    text-align: center;
  }

  div.name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
}

@media (orientation: landscape) and (min-width: 1024px) {
  .aboutMe img {
    display: block;
    border-radius: 50%;
    margin: 20px 20px 20px 0;
    height: 30%;
  }
  .aboutMe h1 {
    text-align: center;
  }

  .aboutMe h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .aboutMe h3 {
    text-align: center;
  }

  .aboutMe p {
    width: 100%;
    text-align: center;
  }

  div.name {
    flex-direction: column;
    align-items: center;
  }
}

@media (orientation: landscape) and (min-width: 1600px) {
  .aboutMe img {
    display: block;
    border-radius: 50%;
    margin: 20px 20px 20px 0;
    width: 30%;
    /* max-width: 300px; */
  }
  .aboutMe h1 {
    text-align: center;
  }

  .aboutMe h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .aboutMe h3 {
    text-align: center;
  }

  .aboutMe p {
    width: 100%;
    text-align: center;
  }

  div.name {
    flex-direction: column;
    align-items: center;
  }
}

/* sekcja FEATURES */

.features {
  max-width: 1024px;
  margin: 0 auto 0;
  padding: 5%;
  text-align: center;
  background-color: white;
}

.features h1 {
  font-family: "Oswald", sans-serif;
  color: #022e41;
  font-size: 22px;
  text-transform: uppercase;
  margin: 15px 0 15px;
}

.features h2 {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  margin: 00px 0 5px;
}

.features p {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin: 10px 0;
}

.btn {
  padding: 7px 12px;
  margin: 5px;
  font-size: 14px;
  font-family: "Cookie", cursive, "Oswald";
  background: #022e41;
  border: none;
  border-radius: 10px;
  color: #eee;
  transition: 1s;
}

.btn:hover {
  background: #022e4178;
}

div.feature {
  border-bottom: 2px solid #022e41;
}

.features img {
  width: 100%;
  margin: 5px 0;
  max-width: 512px;
}

.logos {
  height: 100vh;
}

.logos img {
  width: 47%;
  padding: 15px 25px;
  background-color: rgb(255, 255, 255);
}

@media (min-width: 360px) {
  .features h1 {
    font-size: 28px;
  }

  .features h2 {
    font-size: 24px;
  }

  .features p {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .features h1 {
    font-size: 36px;
  }

  .features h2 {
    font-size: 28px;
  }

  .features p {
    font-size: 18px;
  }
}

@media (min-width: 1024px) {
  .features {
    margin-top: 50px;
    padding: 5% 2%;
    text-align: center;
  }

  .feature {
    float: center;
    padding: 20px;
  }

  .features h1 {
    font-size: 36px;
  }

  .features h2 {
    font-size: 22px;
  }

  .features p {
    font-size: 16px;
    line-height: 120%;
    padding: 0 10px;
  }
}

/* PORTFOLIO */

.portfolio {
  max-width: 1024px;
  padding: 10px 50px 30px;
  margin: 0 auto 0;
  text-align: center;
}

.portfolio h1 {
  font-size: 28px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #022e41;
  text-align: center;
  padding: 10px 20px;
  margin-bottom: 15px;
}

.portfolio .web img {
  width: 100%;
}

.portfolio .about {
  overflow: hidden;
  background-color: rgba(2, 46, 65, 0.2);
  font-family: "Oswald", sans-serif;
  font-weight: normal;
  padding: 30px 5% 20px;
  text-align: center;
  border-bottom: 2px solid #022e41;
  border-radius: 10px;
  margin-bottom: 20px;
}

.portfolio .about h2 {
  font-size: 18px;
  color: #022e41;
  border-bottom: 2px solid white;
  margin-bottom: 12px;
  padding-bottom: 6px;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-indent: 20px;
}

.portfolio .about p {
  margin-top: 20px;
  font-size: 15px;
}

.portfolio .project {
  max-width: 1024px;
  margin: 0 auto 20px;
}

/* .portfolio .project:nth-of-type(odd) {
  background-color: #ff4f2c;
  transform: translateX(-100vw);
}

.portfolio .project:nth-of-type(even) {
  background-color: rgb(24, 30, 82);
  transform: translateX(100vw);
}

.portfolio .project .active {
  transform: translateX(0);
} */

@media (min-width: 640px) {
  div.web {
    width: 50%;
    float: left;
  }

  .portfolio.about div.web {
    float: left;
  }

  .portfolio .web img {
    padding-right: 20px;
  }

  .portfolio .about {
    text-align: left;
  }
  .portfolio.about p {
    padding: 10px;
    text-align: left;
  }
}

@media (min-width: 768px) {
  .portfolio h1 {
    font-size: 40px;
  }
  .portfolio .web img {
    width: 100%;
  }
  .portfolio .about h2 {
    font-size: 28px;
    text-indent: 40px;
  }

  .portfolio .about p {
    font-size: 18px;
    padding-left: 40px;
  }

  .portfolio .project {
    margin-bottom: 40px;
  }
}

@media (min-width: 1024px) {
  .web,
  .about {
    float: left;
  }

  .portfolio.web img {
    display: block;
    width: 50%;
  }

  .portfolio .project:nth-of-type(even) .web {
    float: right;
  }

  .portfolio .project:nth-of-type(even) .about {
    padding-right: 0;
  }

  .portfolio .project:nth-of-type(even) .about p {
    padding-right: 20px;
  }

  .portfolio .project:nth-of-type(even) .about h2 {
    text-indent: 0;
    margin-left: 40px;
  }
}

@media (min-width: 1400px) {
  .portfolio h1 {
    font-size: 60px;
    padding: 30px 0;
  }

  .portfolio .about h2 {
    padding-top: 50px;
    font-size: 28px;
    text-indent: 40px;
    margin-bottom: 50px;
  }

  .portfolio .about p {
    font-size: 18px;
    padding-left: 40px;
    line-height: 180%;
  }

  .portfolio .project {
    margin-bottom: 40px;
  }
}

/* sekcja SLOGAN */

.slogan {
  text-align: center;
  background-image: url(images/8889.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
}

.slogan h1 {
  font-family: "Dancing Script", sans-serif;
  font-size: 35px;
  margin-bottom: 25px;
}

.slogan p {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  margin-bottom: 25px;
}

.slogan p.author {
  margin-top: 20px;
  font-size: 12px;
}

.slogan .bg {
  padding: 30px 10px;
  background-color: rgba(0, 63, 114, 0.5);
}

@media (orientation: landscape) {
  .slogan p {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 768px) {
  .slogan .bg {
    padding: 50px 10px;
  }

  .slogan h1 {
    font-size: 48px;
    margin-bottom: 35px;
  }

  .slogan p {
    font-size: 26px;
    width: 60%;
    margin: 0 auto;
  }

  .slogan p.author {
    margin-top: 40px;
    font-size: 18px;
  }
}

@media (min-width: 1024px) {
  .slogan .bg {
    padding: 80px 10px;
  }

  .slogan h1 {
    font-size: 60px;
    margin-bottom: 55px;
  }

  .slogan p {
    font-size: 40px;
    width: 50%;
  }

  .slogan p.author {
    margin-top: 40px;
    font-size: 26px;
  }
}

/* sekcja HOBBY */

.hobby {
  max-width: 1920px;
  margin: 0 auto;
}

.hobby .item {
  height: 25vh;
}

.hobby .item {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hobby .item:nth-of-type(1) {
  background-image: url(images/spaghetti.jpg);
}

.hobby .item:nth-of-type(2) {
  background-image: url(images/puzzle.jpg);
}

.hobby .item:nth-of-type(3) {
  background-image: url(images/relations.jpg);
}

.hobby .item:nth-of-type(4) {
  background-image: url(images/book.jpg);
}

.hobby .item p {
  font-family: "Oswald", sans-serif;
  color: white;
  text-align: center;
  text-shadow: 0 0 4px black;
  background-color: rgba(2, 46, 65, 0.2);
  font-size: 20px;
  padding: 5px 0;
}

.hobby h1 {
  font-family: "Oswald", sans-serif;
  padding: 20px;
  color: rgb(2, 46, 65);
  text-align: center;
  font-size: 26px;
  text-transform: uppercase;
  margin-top: 35px;
}

@media (min-width: 533px) {
  .hobby .item {
    float: left;
    width: 50%;
    height: 40vh;
  }
}

@media (min-width: 768px) {
  .hobby h1 {
    font-size: 48px;
    margin-top: 40px;
    margin-bottom: 35px;
  }

  .hobby .item p {
    font-size: 30px;
    padding: 15px 0;
  }
}

@media (min-width: 1024px) {
  .hobby .item p {
    padding: 0;
    line-height: 40vh;
    opacity: 0;
    transition: 1s;
    cursor: default;
  }

  .hobby .item:hover p {
    opacity: 1;
  }

  .hobby .item {
    background-size: 100%;
    transition: 1s;
  }

  .hobby .item:hover {
    background-size: 130%;
  }
}

@media (min-width: 1600px) {
  .hobby h1 {
    font-size: 60px;
    margin-top: 50px;
    margin-bottom: 45px;
  }

  .hobby .item p {
    font-size: 40px;
  }
}

/* sekcja CONTACT */

.contact {
  background-color: rgba(2, 46, 65, 0.2);
  padding: 30px 20px;
  margin-top: 40px;
  font-family: "Oswald", sans-serif;
}

.contact h1 {
  font-family: "Oswald", sans-serif;
  font-size: 26px;
  text-transform: uppercase;
  margin-bottom: 15px;
  color: white;
  text-align: center;
}

.contact .wrap {
  padding-top: 20px;
  max-width: 1024px;
  margin: 0 auto;
}

.contact input,
.contact button,
.contact textarea {
  width: 100%;
  margin-bottom: 25px;
  font-family: "Oswald", sans-serif;
  font-size: 12px;
  padding: 5px;
}

.contact input {
  height: 36px;
}

.contact textarea {
  height: 120px;
}

.contact button {
  font-size: 14px;
  line-height: 40px;
  background-color: rgb(2, 46, 65);
  color: white;
  border: 2px solid white;
}

div.socials {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
div.social {
  width: 20%;
  text-align: center;
}
.social img {
  width: 50%;
  color: white;
  font-family: "Oswald" sans-serif;
}

.social img:hover {
  cursor: pointer;
}

/* sekcja FOOTER */

div .footsquare {
  display: block;
  overflow: hidden;
}

footer {
  display: block;
  background-color: #022e41;
  color: white;
  letter-spacing: 2px;
  font-family: "Oswald", sans-serif;
  text-align: center;
  padding: 20px 0 60px;
  font-size: 12px;
  overflow: hidden;
}

div.square {
  position: relative;
  top: 100%;
  left: 50%;
  width: 10vh;
  height: 10vh;
  border: 1px solid white;
  background-color: #022e41;
  transform: translate(-50%, -50%) rotate(45deg);
  z-index: 1;
}

button.arrowup {
  position: absolute;
  bottom: 10%;
  left: 50%;
  font-size: 30px;
  width: 80%;
  height: 80%;
  border-style: none;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  overflow: hidden;
  transition: 0.2s;
  cursor: pointer;
  transform: translate(-50%, 0) rotate(-45deg);
}

button.arrowup .fa-angle-up:hover {
  box-shadow: 0 0 5px 0 rgb(0, 0, 0);
}

button.arrowup i.fa.fa-angle-up {
  text-shadow: 0 -10px 0 white;
  animation: arrowup 1s linear infinite;
  transform: translate(0, -10px);
}

button:hover i.fa.fa-angle-up {
  animation-duration: 2s;
}
