/* font-family: 'Architects Daughter', cursive; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

div.letters {
    position: absolute;
    font-size: 80px;
    color: black;
    top: 15%;
    left: 10%;
    overflow: hidden;
    font-family: 'Architects Daughter', cursive;
    opacity: 1;
}

div.letters.easter {
    top: 25%;
    left: 7%;
}

span.letter {
    animation: lettersTyping 4s linear both, colorLetters 3s linear both infinite;
}

span:nth-of-type(2) {
    animation-delay: .2s;
}

span:nth-of-type(3) {
    animation-delay: .4s;
}

span:nth-of-type(4) {
    animation-delay: .6s;
}

span:nth-of-type(5) {
    animation-delay: .8s;
}

span:nth-of-type(6) {
    animation-delay: 1s;
}

span:nth-of-type(7) {
    animation-delay: 1.2s;
}

span:nth-of-type(8) {
    animation-delay: 1.4s;
}

span:nth-of-type(9) {
    animation-delay: 1.6s;
}

span:nth-of-type(10) {
    animation-delay: 1.8s;
}

span:nth-of-type(11) {
    animation-delay: 2s;
}

span:nth-of-type(12) {
    animation-delay: 2.2s;
}

span:nth-of-type(13) {
    animation-delay: 2.4s;
}

@keyframes lettersTyping {
    0% {
        opacity: 0;
    }

    3% {
        opacity: 0;
    }

    6% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes colorLetters {
    0% {
        color: red;
    }

    20% {
        color: orange;
    }

    40% {
        color: yellow;
    }

    60% {
        color: blue;
    }

    80% {
        color: violet;
    }

    100% {
        color: red;
    }
}

div.background {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: yellowgreen;
    z-index: -1;
    overflow: hidden;
}

div.egg img {
    position: absolute;
    left: 20vw;
    bottom: 5vh;
    height: 45%;
    overflow: hidden;
    z-index: 1;
}

div.up img {
    bottom: 2vh;
    animation: up 6s infinite both;
}

@keyframes up {
    0% {
        bottom: 2.5vh;
    }

    20% {
        bottom: 11vh;
    }

    50% {
        bottom: 15vh;
    }

    70% {
        bottom: 15vh;
    }

    100% {
        bottom: 2.5vh;
    }
}

div.sheep img {
    left: 21vw;
    height: 22%;
    animation: sheep 6s infinite both;
}

@keyframes sheep {
    0% {
        bottom: 9vh;
    }

    20% {
        bottom: 17vh;
    }

    50% {
        bottom: 22vh;
    }

    70% {
        bottom: 22vh;
    }

    100% {
        bottom: 9vh;
    }
}

div.rabbit img {
    position: absolute;
    right: -15%;
    top: 40%;
    width: 15%;
    transform: rotate(0);
    animation: rabbit 6s both infinite;
    animation-delay: 3s;
    ;
}

@keyframes rabbit {
    0% {
        transform: rotate(0);
    }

    15% {
        transform: rotate(0);
    }

    25% {
        transform: translate(-50%, 0) rotate(-40deg);
    }

    50% {
        transform: translate(-80%, 0) rotate(-55deg);
    }

    60% {
        transform: translate(-80%, 0) rotate(-55deg);
    }

    80% {
        transform: translate(-50%, 0) rotate(-50deg);
    }

    100% {
        transform: rotate(0);
    }
}

div.twig img {
    position: fixed;
    right: -1%;
    top: 8%;
    width: 50%;
    transform-origin: 100% 50%;
    animation: twig 6s both infinite linear;
}

@keyframes twig {
    0% {
        transform: rotate(1deg);
    }

    10% {
        transform: rotate(-1deg);
    }

    20% {
        transform: rotate(0)
    }

    30% {
        transform: rotate(1deg);
    }

    40% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(-1deg)
    }

    60% {
        transform: rotate(0);
    }

    70% {
        transform: rotate(1deg);
    }

    80% {
        transform: rotate(0);
    }

    90% {
        transform: rotate(-1deg);
    }

    100% {
        transform: rotate(1deg);
    }
}

div.flowers {
    overflow: hidden;
}

div.flowers img {
    position: absolute;
    left: 50%;
    top: 2%;
    width: 5%;
    transform: translate(-50% 0);
    animation: flowers 20s both infinite linear;
}

div.flowers img:nth-of-type(2),
div.flowers img:nth-of-type(3) {
    left: 60%;
    animation-delay: 1s;
}

div.flowers img:nth-of-type(3) {
    left: 40%;
}

@keyframes flowers {
    0% {
        transform: rotate(360deg) scale(0);
    }

    10% {
        transform: rotate(-360deg) scale(1);
    }

    20% {
        transform: rotate(360deg) scale(0);
    }

    30% {
        transform: rotate(-360deg) scale(1);
    }

    40% {
        transform: rotate(360deg) scale(0);
    }

    50% {
        transform: rotate(-360deg) scale(1);
    }

    60% {
        transform: rotate(360deg) scale(0);
    }

    70% {
        transform: rotate(-360deg) scale(1);
    }

    80% {
        transform: rotate(360deg) scale(0);
    }

    90% {
        transform: rotate(-360deg) scale(1);
    }

    100% {
        transform: rotate(360deg) scale(0);
    }
}